# BAN 6420 Module 2 Assignment

### Salary Function

##### In this program we will create a salary function that throws out the details of each employee by inputting their name and data processing using dictionary function.

In [1]:
# import the necessary packages

import pandas as pd
import numpy as np
import zipfile
import csv

In [2]:
# importing our salary data using read_csv()

df = pd.read_csv('Salarydetails.csv')

C:\Users\emman\AppData\Local\Temp\ipykernel_58276\365147737.py:3: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Salarydetails.csv')

In [3]:
df.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,Not Provided,326373.19,326373.19,2011

In [4]:
#check to see if there is any null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312882 entries, 0 to 312881
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      312882 non-null  object
 1   JobTitle          312882 non-null  object
 2   BasePay           312882 non-null  object
 3   OvertimePay       312882 non-null  object
 4   OtherPay          312882 non-null  object
 5   Benefits          312882 non-null  object
 6   TotalPay          312882 non-null  float64
 7   TotalPayBenefits  312882 non-null  float64
 8   Year              312882 non-null  int64
dtypes: float64(2), int64(1), object(6)
memory usage: 21.5+ MB

In [5]:
#check to see the employee names
df.get('EmployeeName')

0             NATHANIEL FORD
1               GARY JIMENEZ
2             ALBERT PARDINI
3          CHRISTOPHER CHONG
4            PATRICK GARDNER
                 ...
312877       Daniel W Plautz
312878      David J Thompson
312879    Keiko Weng Yee Lau
312880            David Wong
312881       Debora E Howard
Name: EmployeeName, Length: 312882, dtype: object

In [6]:
#create a function that takes employee name as an input to retrieve their details

def get_employee_details():
    employee_name=input()  #input function
    
    try:
        if employee_name in df['EmployeeName'].values:
            name=df[df['EmployeeName']==employee_name]
            return name
        else:
            return (f"No record found for : {employee_name}")
    
    except Exception as e:
        return (f" oops, an error has occurred")

In [7]:
get_employee_details()

ALBERT PARDINI

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,Not Provided,335279.91,335279.91,2011

In [9]:
#converting our dataframe to dictionary for processing:
df_dict= df.to_dict('records')

In [10]:
#printing a sample of the first five records of our dictionary
print(df_dict[0:5])

[{'EmployeeName': 'NATHANIEL FORD', 'JobTitle': 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 'BasePay': 167411.18, 'OvertimePay': 0.0, 'OtherPay': 400184.25, 'Benefits': 'Not Provided', 'TotalPay': 567595.43, 'TotalPayBenefits': 567595.43, 'Year': 2011}, {'EmployeeName': 'GARY JIMENEZ', 'JobTitle': 'CAPTAIN III (POLICE DEPARTMENT)', 'BasePay': 155966.02, 'OvertimePay': 245131.88, 'OtherPay': 137811.38, 'Benefits': 'Not Provided', 'TotalPay': 538909.28, 'TotalPayBenefits': 538909.28, 'Year': 2011}, {'EmployeeName': 'ALBERT PARDINI', 'JobTitle': 'CAPTAIN III (POLICE DEPARTMENT)', 'BasePay': 212739.13, 'OvertimePay': 106088.18, 'OtherPay': 16452.6, 'Benefits': 'Not Provided', 'TotalPay': 335279.91, 'TotalPayBenefits': 335279.91, 'Year': 2011}, {'EmployeeName': 'CHRISTOPHER CHONG', 'JobTitle': 'WIRE ROPE CABLE MAINTENANCE MECHANIC', 'BasePay': 77916.0, 'OvertimePay': 56120.71, 'OtherPay': 198306.9, 'Benefits': 'Not Provided', 'TotalPay': 332343.61, 'TotalPayBenefits': 332343.61, 'Year': 2011}, {'EmployeeName': 'PATRICK GARDNER', 'JobTitle': 'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)', 'BasePay': 134401.6, 'OvertimePay': 9737.0, 'OtherPay': 182234.59, 'Benefits': 'Not Provided', 'TotalPay': 326373.19, 'TotalPayBenefits': 326373.19, 'Year': 2011}]

In [11]:
#retrieving an employee's details from our dictionary through several means

fifth_employee= df_dict[4] #retrieving via indexing
print(fifth_employee)

{'EmployeeName': 'PATRICK GARDNER', 'JobTitle': 'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)', 'BasePay': 134401.6, 'OvertimePay': 9737.0, 'OtherPay': 182234.59, 'Benefits': 'Not Provided', 'TotalPay': 326373.19, 'TotalPayBenefits': 326373.19, 'Year': 2011}

In [15]:
#retrieving via a function that takes the employees name

def get_workers_details(worker_name):  
    
    try:
        for worker in df_dict:
            if worker_name.lower() in worker['EmployeeName'].lower():
                return worker
        return {"error": "Employee not found."}
    
    except TypeError:
        return (f"oops an error occured, Ensure your dict and strings are properly called")

In [16]:
worker_name= "nathaniel ford"
worker_details = get_workers_details(worker_name)
print(worker_details)

{'EmployeeName': 'NATHANIEL FORD', 'JobTitle': 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 'BasePay': 167411.18, 'OvertimePay': 0.0, 'OtherPay': 400184.25, 'Benefits': 'Not Provided', 'TotalPay': 567595.43, 'TotalPayBenefits': 567595.43, 'Year': 2011}

In [17]:
#We want to export the employee details to a csv file.

df_dict=pd.DataFrame(worker_details, index=[0]) #first convert to a dataframe
df_dict.to_csv('EmployeeDetails.csv', index=False, header=True) #Then export to csv file

In [18]:
#Exporting the csv to a zip folder

zip_folder= zipfile.ZipFile('EmployeeProfile.zip', 'w')
zip_folder.write('EmployeeDetails.csv')

zip_folder.close()